<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OngLivesPWA</title>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="/*background-color: #FFD4F6;*/">
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light box-shadow p-0">
            <div class="container" style="max-width: 100%; padding: 0px;">
                <div style="width: 100%;">
                    <div class="sjf8g d-flex justify-content-center align-items-center">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Entrar</a>
                        <a class="nav-link text-dark" style="margin-right: 50%;" asp-area="" asp-controller="Home" asp-action="Cadastro">Cadastrar</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Central do cliente</a>
                        <a class="nav-link text-dark suporte" asp-area="" asp-controller="" asp-action="">Suporte</a>
                    </div>
                </div>
                <div class="polk2 d-flex justify-content-center">
                    <div class="line"></div>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ONGs Live</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <ul class="ulist navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Localizacao">Localização</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Ong's'</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Vagas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Voluntários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">E-mail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Mais informações</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="lkfy4" class="container p-0">
        @RenderBody()
    </main>
    <footer class="footer text-muted" style="width: 0px; position: fixed; line-height: inherit;">
        <div>
            &copy; 2023 - ONGsLive
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
