@{
    ViewData["Title"] = "Home Page";
}

<style>
    /*#grid {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }*/

    #lkfy4 {
        padding: 0 0 2% 0 !important;
    }

    #grid-c-img{
        max-width: 300px;
    }

</style>

<div class="text-center">
    <h1 class="display-4">OngLives</h1>
    <p class="display-6">Ligando corações</p>
    <img id="grid-c-img" src=".\images\web1.png" alt="logo1" />
</div>

@*<div id="grid">
    <div id="grid-c">
        
    </div>
</div>*@