@{
    ViewData["Title"] = "Home Page";
}

<style>
    #grid {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #grid-c
    {
        
    }

    #grid-c-img{
        max-width: 300px;
    }


</style>

<div class="text-center">
    <h1 class="display-4">OngLives</h1>
    <p class="display-6">Ligando corações</p>
</div>

<div id="grid">

    <div id="grid-c">
        <img id="grid-c-img" src=".\images\web1.png" alt="logo1" />
    </div>

</div>