@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

@*<img src=".\images\web1.png" alt="logo1" />*@

<div class="hfyrw3">
    <div class="toptext">
        <h4>Tudo que voce precisa saber para ser voluntário ou cadastrar sua ONG</h4>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="pbox">
            <p>
                Se voce deseja ser voluntario e ainda não sabe onde, pode começar se registrando aqui na Ong Lives, se cadastre e escolha as atividades que precisam de voluntarios.
            </p>
            <p>
                Para ser um voluntario na Ong Lives é necessario possuir alguns requisitos que estarão disponiveis em "mais informações".
            </p>
        </div>
        <div class="imgbox d-flex justify-content-center align-items-center">
            <img src="~/images/voluntario.png" alt="img" />
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="img2box d-flex justify-content-center align-items-center">
            <img src="~/images/ongs.png" alt="img" />
        </div>
        <div class="p2box d-flex flex-column justify-content-center">
            <p>
                Uma ONG (Organização não governamental) é um tipo de organização que não possui fim lucrativo, formada com objetivos especificos de trabalhos sociais e questões relativas ao bem-estar da sociedade.
            </p>
            <p>
                As ONGs atuam em toda e qualquer área ligada, de alguma forma, as necessidades de uma sociedade, por exemplo, lutar pelos direitos das minorias sociais, como mulheres, LGBTs, indigenas, deficientes, entre outros. Então, se voce possui uma ONG e quer impulsionar para atrair mais voluntarios voce está no lugar certo!
            </p>
            <p>
                O cadatro é super facil e rapido, é só clicar em "ONGs", preencher o formulario e voilà! Cadastro realizado!
            </p>
        </div>
    </div>
</div>