@{
    ViewData["Title"] = "Localização";
}

<link rel="stylesheet" href="~/css/Localizacao.css" asp-append-version="true" />

<h3>Google Maps</h3>

<!--The div element for the map -->
<div id="map"></div>

<script src="~/js/Localizacao.js" asp-append-version="true"></script>