@{
    ViewData["Title"] = "Entrar";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div id="kfht2" class="d-flex flex-column align-items-center justify-content-center">
    <h1>
        Bem-vindo
    </h1>
    <div class="d-flex flex-column" style="width: 70%;">
        @*<label>Email:</label>*@
        <input type="text" placeholder="seuemail@email.com" id="user" />
    </div>
    <div class="d-flex flex-column" style="width: 70%;">
        @*<labe>Senha:</labe>*@
        <input type="text" placeholder="pass123" id="pass" />
    </div>
    
    @*<input type="submit" value="Próximo"/>*@
    <button id="mgj8">Acessar</button>
</div>

<script src="~/js/Login.js" asp-append-version="true"></script>